{# This contains a series of <script> blocks, each of which is a client-side Handlebars template. #}
{% verbatim %}
<script id="user-table-column-info" type="text/x-handlebars-template">
    <td data-text="{{user.user_name}}">
        <strong>
            <a href="{{site.uri.public}}/users/u/{{user.id}}">{{user.user_name}} ({{user.display_name}})</a>
        </strong>
        <div>
            <i>{{user.title}}</i>
        </div>
        <div>
            <i class="fa fa-envelope"></i> <a href="mailto:{{user.email}}">{{user.email}}</a>
        </div>
    </td>
</script>

<script id="user-table-column-registered-since" type="text/x-handlebars-template">
    {{#if user.sign_up_time }}    
    <td data-num="{{dateFormat user.sign_up_time format='x'}}">
        {{dateFormat user.sign_up_time format="dddd"}}<br>{{dateFormat user.sign_up_time format="MMM Do, YYYY h:mm a"}}
    </td>
    {{ else }}
    <td data-num="0">
            <i>Unknown</i>
    </td>
    {{/if }}    
</script>

<script id="user-table-column-last-sign-in" type="text/x-handlebars-template">
    {{#if user.last_sign_in_time }}
    <td data-num="{{dateFormat user.last_sign_in_time format='x'}}">
        {{dateFormat user.last_sign_in_time format="dddd"}}<br>{{dateFormat user.last_sign_in_time format="MMM Do, YYYY h:mm a"}}
    </td>
    {{ else }}
    <td data-num="0">
            <i>Brand new!</i>
    </td>
    {{/if }}
</script>
<script id="user-table-column-actions" type="text/x-handlebars-template">
    <td>
        <br>
        <a href="{{site.uri.public}}/offer-client-user-position1/u/{{user.id}}/" class="btn btn-success">
                                    <i class="fa fa-bolt"></i> Offer Client User Position
                                </a>
    </td>
</script>
{% endverbatim %}