{% extends "layouts/layout-dashboard.twig" %}
{% set page_group = "dashboard" %}

{# Set page properties (page.*) here. #}
{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}    
    {% set page = page | merge({
        "title"       : "Dashboard",
        "description" : "Your user dashboard."
    }) %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-9 text-left">
                        <div style="color:gray;"><i class="fa fa-ticket"></i> Total Ticket Logged</div>
                        <div class="huge" style="color:gray;">{{total}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-white">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-9 text-left">
                        <div style="color:gray;">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-ticket"></i> Open Tickets</div>
                        <div class="huge" style="color:gray; border-left:2px solid #b3b3b3;" >&nbsp;{{open_ticket}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    
    <!-- /.col-lg-4 -->
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading" style="color:gray;">
                <i class="fa fa-bar-chart-o fa-fw"></i> Priority / Off Peak
            </div>
            <div class="panel-body" style="color:gray;">
                    
                        <div class="table-responsive" style="overflow: hidden;font-size:12px;">
                            <table border="0">
                                <thead>
                                    <tr>
                                        <th class="col-lg-2"></th>
                                        <th class="col-lg-3">Type of service</th>
                                        <th class="col-lg-3">% of total tickets</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="6" style="background-color: #ffffff;"><div id="morris-donut-chart" style="width:200px;height:200px;"></div></td>
                                        <td style="height:20px;"></td>
                                        <td style="height:20px;"></td>
                                    </tr>
                                    <tr style="height:20px;">
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {% for analytic_servicelevel1 in analytic_servicelevel %}
                                        <tr style="height:20px;">
                                            
                                            <td><span id="{{analytic_servicelevel1.span}}">||||</span> {{analytic_servicelevel1.label}}</td>
                                            <td>{{analytic_servicelevel1.value}}%</td>
                                        </tr>    
                                    {% endfor %}
                                    <tr style="height:20px;">
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr style="height:20px;">
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
            </div>           
			
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading" style="color:gray;">
                <i class="fa fa-bar-chart-o fa-fw"></i> Venue Breakdown
            </div>
            <div class="panel-body" style="color:gray;">
                    
                        <div class="table-responsive" style="overflow: hidden;font-size:12px;">
                            <table border="0">
                                <thead>
                                    <tr>
                                        <th class="col-lg-2">Top 5</th>
                                        <th class="col-lg-3">Venue</th>
                                        <th class="col-lg-3">% of total tickets</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     {% for analytic_venue1 in analytic_venue %}
                                        {% if (analytic_venue1.span == 'rcorners1') %}
                                            <tr>
                                                <td rowspan="6" style="background-color: #ffffff;"><div id="morris-donut-chart2" style="width:200px;height:200px;"></div></td>
                                                <td style="height:20px;"><span id="{{analytic_venue1.span}}">||||</span> {{analytic_venue1.label}}</td>
                                                <td style="height:20px;">{{analytic_venue1.value}}%</td>
                                            </tr>
                                        {% else %}
                                            <tr style="height:20px;">
                                                <td><span id="{{analytic_venue1.span}}">||||</span> {{analytic_venue1.label}}</td>
                                                <td>{{analytic_venue1.value}}%</td>
                                            </tr>
                                        {% endif %}
                                    
                                    {% endfor %}
                                    <tr>
                                        <!-- <td rowspan="6" style="background-color: #ffffff;"><div id="morris-donut-chart2" style="width:200px;height:200px;"></div></td>
                                        <td style="height:20px;"><span id="rcorners1">||||</span> Venue 1</td>
                                        <td style="height:20px;">10/21/2013</td>
                                    </tr>
                                    <tr style="height:20px;">
                                        <td><span id="rcorners2">||||</span> Venue 2</td>
                                        <td>10/21/2013</td>
                                    </tr>
                                    <tr style="height:20px;">
                                        <td><span id="rcorners3">||||</span> Venue 3</td>
                                        <td>10/21/2013</td>
                                    </tr>
                                    <tr style="height:20px;">
                                        <td><span id="rcorners4">||||</span> Venue 4</td>
                                        <td>10/21/2013</td>
                                    </tr>
                                    <tr style="height:20px;">
                                        <td><span id="rcorners5">||||</span> Venue 5</td>
                                        <td>10/21/2013</td>
                                    </tr>
--!>
                                </tbody>
                            </table>
                        </div>
            </div>           
			
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        
    </div>
    <!-- /.col-lg-4 -->
    
    <!-- /.col-lg-8 -->
    
</div>
<div class="row">
  <div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading" style="color:gray;">
			<i class="fa fa-bar-chart-o fa-fw"></i> Volume by Trade-set
		</div>
		<div class="panel-body" style="color:gray;">
            
            
					
			<div class="container2 horizontal2 flat">
                
            {% for analytic_servicetype1 in analytic_servicetype %}
              <div class="progress-bar2 horizontal2">
                {{analytic_servicetype1.type}}
                <div class="progress-track">
                  <div class="progress-fill">
                    <span>{{analytic_servicetype1.value}}%</span>
                  </div>
                </div>
              </div>

            {% endfor %}
               <!-- 
			  <div class="progress-bar2 horizontal2">
				Electrical
				<div class="progress-track">
				  <div class="progress-fill">
					<span>100%</span>
				  </div>
				</div>
			  </div>

			  <div class="progress-bar2 horizontal2">
			  Plumbing
				<div class="progress-track">
				  <div class="progress-fill">
					<span>75%</span>
				  </div>
				</div>
			  </div>

			  <div class="progress-bar2 horizontal2">
			  Communication
				<div class="progress-track">
				  <div class="progress-fill">
					<span>60%</span>
				  </div>
				</div>
			  </div>

			  <div class="progress-bar2 horizontal2">
			  Glazing
				<div class="progress-track">
				  <div class="progress-fill">
					<span>20%</span>
				  </div>
				</div>
			  </div>
            --!>    
			  
			</div>
		</div>
		<!-- /.panel-body -->
	</div>
	<!-- /.panel -->
	
</div>
    </div>
<!-- Horizontal, flat -->


  
  

<!-- /.row -->
{% endblock %}
{% block page_scripts %}
    <script>
	
    Morris.Donut({
        element: 'morris-donut-chart',
        data: {{ analytic_servicelevel|json_encode|raw }},
		colors: ['#3399ff','#00cc99'],
        resize: true
    });
    Morris.Donut({
        element: 'morris-donut-chart2',
        data: {{ analytic_venue|json_encode|raw }},
		colors: ['#3399ff','#00cc99','#ac00e6','#d9d9d9','#ff6666'],
        resize: true
    });    
	</script>  
    <script src="{{site.uri.js}}/horizontal-bar.js"></script>
    <script src="{{site.uri.js}}/morris-data.js"></script>
    <script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
{% endblock %}